PythonProjects/* linguist-language=Python

SQLProjects/** linguist-vendored


#Projects/*.ipynb linguist-vendored

#*.ipynb python

#linguist-vendored



# Jupyter notebook

# For text count
 *.ipynb  text

# To ignore it use below
# *.ipynb linguist-documentation
